.button_load_more {
  display: block;
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  margin: 0 auto;
  margin-top: 15px;
}
.button_load_more-hidden {
  display: none;
}

.button_load_more:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
